body {
    background-color: #282827;
}
.appliance:before{
    background-image: linear-gradient(#fff, #fff);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.appliance {
    background-image: 	-webkit-repeating-linear-gradient(left, hsla(-1,0%,20%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,20%, .1) 7.5%, hsla(0,0%, 20%,0) 9%),					
            -webkit-repeating-linear-gradient(left, hsla(-1,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%, hsla(0,0%,  0%,0) 6%),					
            -webkit-repeating-linear-gradient(left, hsla(-1,0%,20%,0) 0%, hsla(0,0%,20%,0) 1.2%, hsla(0,0%,20%,.15) 2.2%, hsla(0,0%,20%,0) 4%),
            -webkit-linear-gradient(-90deg, hsl(0,0%,10%)  0%, hsl(0,0%,10%) 47%, hsl(0,0%,10%) 53%, hsl(0,0%,10%)100%);
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0);
}
.logo {
    position: absolute;
    right: 100px;
    top: 20px;
    color: #ededed;
    font-size: 3rem;
    font-family: 'serif';
    text-shadow: #000;
}
.logo-sub {
    font-size:1rem;
    text-align: right;
}

.hole {
    position: absolute;
    width: 30px;
    height: 20px;
    border-radius: 50px;
    background: #dcdcdc;
    -moz-box-shadow: -1px 2px 4px #000;
    -webkit-box-shadow: -1px 2px 4px #000;
    box-shadow: -1px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);
    border: 0px solid rgba(255,255,255,0.1);
}
.hole-upper-left {
    top: 20px;
    left: 20px;
}
.hole-bottom-left {
    bottom: 20px;
    left: 20px;
}
.hole-upper-right {
    top: 20px;
    right: 20px;
}
.hole-bottom-right {
    bottom: 20px;
    right: 20px;
}

.button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-indicator {
    color: white;
}

.button-indicator{ 
    margin-left: 10px;
    margin-top:10px;
    width:25px; 
    height:8px; 
    box-shadow:0 0 8px #000 inset; 
    border:1px solid rgba(255,255,255,0.1); 
    border-radius:15px; 
    transition:0.2s; 
    -webkit-transition:0.2s; 
}
.button-indicator:before{ 
    content:''; 
    display:block; 
    margin:2px auto; 
    width:8px; 
    height:5px; 
    border-radius:10px; 
    transition:0.5s; 
    -webkit-transition:0.5s; 
}
.metal.active ~ .button-indicator:before{ 
    box-shadow:0 0 2px 0px #F95757 inset, 0 0 12px 6px #F95757; 
    background:#FFF; 
    transition:0.1s; 
    -webkit-transition:0.1s; 
}
	
#play-next {
    display: inline-block;
}

#status-lcd {
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}

#status-holder {
    display: inline-block;
    margin-left: 100px;
    padding-top: 50px;
}

#status-holder > .label-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

/* Button styles from https://codepen.io/simurai/pen/kvyEeg */
.metal {
  margin: 0px auto;
  outline: none;
  top: 30px;
  
  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 1px 1px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 1px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  1px 1px 1px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -1px 1px 1px, /* outer SD */
    hsla(0,0%,100%,.5) 0  1px 1px 1px; /* outer HL */ 

  cursor: pointer;
}
.metal.linear {
  width: 100px;
  font-size: 2em;
  height: 80px;
  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}
.metal.linear.small {
  width: 70px;
  height: 60px;
  line-height: 50px !important;
  margin-left: 10px;
}

/* LED styles from https://codepen.io/andernunes/pen/VwBOvKN */
.led {
  display: inline-block;
  font-weight: 700;
  font-family: 'Digital-7 Mono', sans-serif;
  width: 300px;
  height: 50px;
  margin: 10px 10px 10px 10px;
  text-align:center;
  line-height: 50px;
  font-size: 40px;
  color: #000000aa;
}

.led-old {
  background-color: rgb(127,138,70);
  border-top: 3px solid #000000ce;
  border-left: 3px solid #000000ce;
  border-bottom: 1px solid #cfcfcf33;
  border-right: 1px solid #cfcfcf33;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000000ee inset;
  text-shadow: 0px 0px 20px #ffff0022;
}

.led-off {
  background-color: rgb(20,20,20);
  border-top: 3px solid #000000ce;
  border-left: 3px solid #000000ce;
  border-bottom: 1px solid #cfcfcf33;
  border-right: 1px solid #cfcfcf33;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000000ee inset;
  text-shadow: 0px 0px 20px #55555544;
}

.led-error {
  background-color: rgb(128,0,0);
  font-size:32pt;
  border-top: 3px solid #000000ee;
  border-left: 3px solid #000000ee;
  border-bottom: 1px solid #cfcfcf33;
  border-right: 1px solid #cfcfcf33;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000000ee inset;
  text-shadow: 0px 0px 20px #ffff00cc;
  color: #ff9999cc;
}